<a href="https://colab.research.google.com/github/sung22/NLP_2023/blob/main/2_FiveTypesofData.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#ğŸ¹ ğŸ¾  Five Types of Data
        Number, String(ë¬¸ìì—´), List(í¸ì§‘ê°€ëŠ¥), Tuple(í¸ì§‘ë¶ˆê°€ëŠ¥), Dictionary(ì‚¬ì „í˜• ë°ì´í„°)

Variables can be either a number or a sequence.     

1ï¸âƒ£ Numbers can be either integers, floats, or imaginary numbers.
- interger(int) ì •ìˆ˜ : -100, -30, -11, 0, 1, 5, 100, 302, etc.
- float ì‹¤ìˆ˜ : -100.0, -30.0, -11.0, 0.0, 0.1, 2.4, 100.32, etc.
- complex ë³µì†Œìˆ˜: 1 + 5j
      ('j' represents imaginary numbers í—ˆìˆ˜)

2ï¸âƒ£ Three types of seqeunce data

ğŸ…°ï¸ <font color='red'> String </font> data are non-numerical data. It is indicated by a pair of either double quotations or single quotations.
- "a", "b", "c"
- 'a', 'b', 'c'
- "042114" (cf., 042114)
- "I love Sam's pencil case"

ì´ì²˜ëŸ¼ single quotationì€ ì¤‘ë³µë˜ëŠ” ì½”ë“œê°€ ìˆì–´ì„œ double quotationì„ ì‚¬ìš©í•  ë•Œê°€ ìˆìŒ.

ğŸ…±ï¸ Data can be consecutively connected. The <font color='red'> list</font>-stle-type data is most common. If consecutively connected elements are protected from a modification, we especially call it a <font color='red'> tuple</font>-style-type.

- i) <font color='red'> List</font>: A list is indicated by a pair of square brackets [ ].
      ['a', 'abc', 1(ìˆ«ì/ì •ìˆ˜), '911'(ë¬¸ì), 'I love Python']

- ii) <font color='red'> Tuple</font>: A tuple is indicated by a pair of brackets ( ).
      ('a', 'abc', 1, '911', 'I love Python')

ğŸ‘€ Be aware that elements in a list/tuple can be numbers, strings, dictionaries, or embeded lists/tuples of any kind. Note that elements in a tuple cannot be modified but protected under no circumstances.

- [1, 'a', 'bananas', 'berries','3.14']  
- [{'Earth': 14725000000, 'Mars': 23934000000}, [1, 2, 3], ['b', '042-114', 'I like apples'], (100, 200, 300)]

ë¦¬ìŠ¤íŠ¸ ì•ˆì— ë¦¬ìŠ¤íŠ¸ë¥¼ ë„£ì„ ìˆ˜ ìˆë‹¤. tupleë„ ë„£ì„ ìˆ˜ ìˆë‹¤.

3ï¸âƒ£ A paired data with a matched <font color='blue'>key - value</font> set is called <font color = 'red'> dictionary <font/>.
- {'a':'A', 'b':'B', 'c':'C'}
- {'a':1, 'b':2, 'c':3}
- {'d':4}

ì¤‘ê°„ì˜ :(ì½œë¡ )ì´ í˜ì–´ë¼ëŠ” ê²ƒì„ ì•Œë ¤ì¤Œ. ì™¼ìª½ì€ key, ì˜¤ë¥¸ìª½ì€ value ì´ë‹¤.

In [ ]:
a = 120
print(a)

120

In [ ]:
b = 0.23
print(b)

0.23

In [ ]:
c = 8+4j
print(c)

(8+4j)

In [ ]:
d = "a"
print(d)

a

In [ ]:
e = [1,2,3,'1','2','3']
print(e)

[1, 2, 3, '1', '2', '3']

In [ ]:
f = (a,b,c,[1,2,3])
print(f)

(120, 0.23, (8+4j), [1, 2, 3])

## <font color = 'green'> Exercise
### <font color = 'green'>Assigning <font color = 'red'>Numbers</front> <font color = 'green'>to varialbes

In [ ]:
#@markdown ğŸ“Œ Assign 1 to variable a.

a = 1
print (a)

1

In [ ]:
a = 1
print(a)

1

In [ ]:
#@markdown ğŸ“Œ Assign 2 to variable b.
b = 2
print (b)

2

In [ ]:
b = 2
print(b)

2

In [ ]:
#@markdown ğŸ“Œ Use a print function and a Boolean operator +
print(a + b)

3

In [ ]:
print(a + b)

3

## <font color = 'green'> Exercise
### <font color = 'green'>Assigning <font color = 'red'> Strings</front> <font color = 'green'>to varialbes

In [ ]:
#@markdown ğŸ“Œ Assign a string to variable c

c = "I love Python"
print (c)

I love Python

In [ ]:
#@markdown ğŸ° Using apostrophe in a string variable ì†Œìœ ê²© í‘œì‹œë¥¼ í•œ ë¬¸ìì—´ì„ c ë³€ìˆ˜ì— í• ë‹¹í•œ ë³€ìˆ˜
c = "I love Python"
print(c)

I love Python

c = "I love Python's pencil" -> O

c = 'I love Python's pencil' -> X

In [ ]:
#@markdown ğŸ° Using apostrophe in a string variable ì†Œìœ ê²© í‘œì‹œë¥¼ í•œ ë¬¸ìì—´ì„ c ë³€ìˆ˜ì— í• ë‹¹í•œ ë³€ìˆ˜
c = "I love Python"
print(c)

I love Python

'#'ì„ ë¨¼ì € ì“°ê³  '@'ì„ ì¨ì•¼ ì ìš©ë¨. '@'ì„ ë¨¼ì € ì“°ë©´ ì ìš©ë˜ì§€ ì•ŠìŒ.

In [ ]:
#@markdown ğŸ“Œ To assign valid variable names
a = 'Lori'
print(a)
_b = 'Sam'
print(_b)
a_b = 'Ken'
print(a_b)
c_d = 'Jen'
print(c_d)

a = 'Emma' # Be aware that variable a is used two times!
print(a)

Lori
Sam
Ken
Jen
Emma

In [ ]:
a = 'Lori'
_b = 'Sam'
a_b = 'Ken'
c_d = 'Jen'

a = 'Emma'

In [ ]:
#@markdown ğŸ“Œ More on printing variables
a = 'Lori'
print(a)

_b = 'Sam'
print(_b)

a_b = 'Ken'
print(a_b)

c_d = 'Jen'
print(c_d)

a= 'Emma'
print(a)          #â° Remember the latest varialbe is printed if there is a redundant varialbe name.

Lori
Sam
Ken
Jen
Emma

In [ ]:
#If a variable name assinged with different values is repeated more than once, the most recent one matters.

print (a) #Be aware that variable a is 'EMMA', not 'Lori.'

Emma

## <font color = 'green'> Exercise
### <font color = 'green'>Assigning <font color = 'red'>Lists</front> <font color = 'green'>to varialbes

In [ ]:
#@markdown ğŸ“Œ Assign lists to variables such as d, e, f.

d = ["Mercury", "Venus", "Earth", "Mars", "Jupiter", "Saturn", "Uranus", "Neptune"] #Names of planets
e = ["ìˆ˜ì„±", "ê¸ˆì„±", "ì§€êµ¬", "í™”ì„±", "ëª©ì„±", "í† ì„±", "ì²œí™©ì„±", "í˜œì™•ì„±" ] #í–‰ì„± ì´ë¦„
f = [1,2,3,4,5,6,7,8,9,10]

print (d)
print(e)
print (f)

['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
['ìˆ˜ì„±', 'ê¸ˆì„±', 'ì§€êµ¬', 'í™”ì„±', 'ëª©ì„±', 'í† ì„±', 'ì²œí™©ì„±', 'í˜œì™•ì„±']
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
d = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
print(d)
e = ['ìˆ˜ì„±', 'ê¸ˆì„±', 'ì§€êµ¬', 'í™”ì„±', 'ëª©ì„±', 'í† ì„±', 'ì²œì™•ì„±', 'í˜œì™•ì„±']
print(e)
f = [1,2,3,4,5,6,7,8]
print(f)

## <font color = 'green'> Exercise
### <font color = 'green'>Assigning <font color = 'red'>Tuples</front> <font color = 'green'>to varialbes

In [ ]:
#@markdown ğŸ“Œ Assign tuples to variables such as g, h, i.

g = ("Mercury", "Venus", "Earth", "Mars", "Jupiter", "Saturn", "Uranus", "Neptune") #Names of planets
h = ("ìˆ˜ì„±", "ê¸ˆì„±", "ì§€êµ¬", "í™”ì„±", "ëª©ì„±", "í† ì„±", "ì²œí™©ì„±", "í˜œì™•ì„±" ) #í–‰ì„± ì´ë¦„
i = (1,2,3,4,5,6,7,8,9,10)

print (g)
print(h)
print (i)

In [8]:
g = ('Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune')
print(g)
h = ('ìˆ˜ì„±', 'ê¸ˆì„±', 'ì§€êµ¬', 'í™”ì„±', 'ëª©ì„±', 'í† ì„±', 'ì²œì™•ì„±', 'í˜œì™•ì„±')
print(h)
i = (1,2,3,4,5,6,7,8)
print(i)

('Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune')
('ìˆ˜ì„±', 'ê¸ˆì„±', 'ì§€êµ¬', 'í™”ì„±', 'ëª©ì„±', 'í† ì„±', 'ì²œì™•ì„±', 'í˜œì™•ì„±')
(1, 2, 3, 4, 5, 6, 7, 8)

In [ ]:
 #Names of planets
g = ("Mercury", "Venus", "Earth", "Mars", "Jupiter", "Saturn", "Uranus", "Neptune")
 #í–‰ì„± ì´ë¦„
h = ("ìˆ˜ì„±", "ê¸ˆì„±", "ì§€êµ¬", "í™”ì„±", "ëª©ì„±", "í† ì„±", "ì²œí™©ì„±", "í˜œì™•ì„±" )
i = (1,2,3,4,5,6,7,8,9,10)

## <font color = 'green'> Exercise
### <font color = 'green'>Assigning <font color = 'red'>Dictionaries</front> <font color = 'green'>to varialbes

In [ ]:
#@markdown ğŸ“Œ Assign dictionary data to variables such as k and m.

k = {'Mercury':'ìˆ˜ì„±', 'Venus':'ê¸ˆì„±', 'Earth':'ì§€êµ¬', 'Mars':'í™”ì„±', 'Jupiter':'ëª©ì„±', 'Saturn':'í† ì„±', 'Uranus':'ëª…ì™•ì„±', 'Neptune':'í•´ì™•ì„±'} #key in English: value in Korean

m = {'Mercury ìˆ˜ì„±':1, 'Venus ê¸ˆì„±':2, 'Earth ì§€êµ¬':3, 'Mars í™”ì„±':4, 'Jupiter ëª©ì„±':5, 'Saturn í† ì„±':6, 'Uranus ëª…ì™•ì„±':7, 'Neptune í•´ì™•ì„±':8} # i) order of planets from the Sun, ii) key in English and Korean, iii) value in integers

print (k)
print (m)

{'Mercury': 'ìˆ˜ì„±', 'Venus': 'ê¸ˆì„±', 'Earth': 'ì§€êµ¬', 'Mars': 'í™”ì„±', 'Jupiter': 'ëª©ì„±', 'Saturn': 'í† ì„±', 'Uranus': 'ëª…ì™•ì„±', 'Neptune': 'í•´ì™•ì„±'}
{'Mercury ìˆ˜ì„±': 1, 'Venus ê¸ˆì„±': 2, 'Earth ì§€êµ¬': 3, 'Mars í™”ì„±': 4, 'Jupiter ëª©ì„±': 5, 'Saturn í† ì„±': 6, 'Uranus ëª…ì™•ì„±': 7, 'Neptune í•´ì™•ì„±': 8}

In [15]:
k = {'Mercury':'ìˆ˜ì„±', 'Venus':'ê¸ˆì„±', 'Earth':'ì§€êµ¬', 'Mars':'í™”ì„±', 'Jupiter':'ëª©ì„±', 'Saturn':'í† ì„±', 'Uranus':'ëª…ì™•ì„±', 'Neptune':'í•´ì™•ì„±'}
print(k)
m = {'Mercury ìˆ˜ì„±': 1, 'Venus ê¸ˆì„±': 2, 'Earth ì§€êµ¬': 3, 'Mars í™”ì„±': 4, 'Jupiter ëª©ì„±': 5, 'Saturn í† ì„±': 6, 'Uranus ëª…ì™•ì„±': 7, 'Neptune í•´ì™•ì„±': 8}
print(m)
print(k['Mercury'])

{'Mercury': 'ìˆ˜ì„±', 'Venus': 'ê¸ˆì„±', 'Earth': 'ì§€êµ¬', 'Mars': 'í™”ì„±', 'Jupiter': 'ëª©ì„±', 'Saturn': 'í† ì„±', 'Uranus': 'ëª…ì™•ì„±', 'Neptune': 'í•´ì™•ì„±'}
{'Mercury ìˆ˜ì„±': 1, 'Venus ê¸ˆì„±': 2, 'Earth ì§€êµ¬': 3, 'Mars í™”ì„±': 4, 'Jupiter ëª©ì„±': 5, 'Saturn í† ì„±': 6, 'Uranus ëª…ì™•ì„±': 7, 'Neptune í•´ì™•ì„±': 8}
ìˆ˜ì„±

In [17]:
#@markdown ğŸ“Œ Print the value of key 'a' ('a' as string data)
dict = {'a':1, 'b':2, 'c':3}
print (dict)
print(dict['a'])

{'a': 1, 'b': 2, 'c': 3}
1

In [16]:
dict = {'a':1, 'b':2, 'c':3}
print(dict)
print(dict['a'])
print(dict['b'])

{'a': 1, 'b': 2, 'c': 3}
1
2

In [ ]:
#@markdown ğŸ“Œ Replacing a value of your dictionary data with another

dict = {'a':1, 'b':2, 'c':3}

print(dict)

dict['a']=7
print (dict)

dict_data = {'c':10, 'b':20, 'a':30}
print(dict_data)
dict_data['a'] = 300
print(dict_data)

{'a': 1, 'b': 2, 'c': 3}
{'a': 7, 'b': 2, 'c': 3}
{'c': 10, 'b': 20, 'a': 30}
{'c': 10, 'b': 20, 'a': 300}

In [22]:
dict = {'a':1, 'b':2, 'c':3}

print(dict)

dict['a']=7
print(dict)

dict['c']=8
print(dict)

{'a': 1, 'b': 2, 'c': 3}
{'a': 7, 'b': 2, 'c': 3}
{'a': 7, 'b': 2, 'c': 8}