<a href="https://colab.research.google.com/github/sung22/NLP_2023/blob/main/3_Indexing_Slicing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = 'I love Python'
print(a)

I love Python

In [3]:
str1 = 'I love phyton!'

# üìå Indexing of Sequence Data

| str data | I |   | l | o | v | e |  | P | y | t | h | o |n | ! |
|:---------|:--|:--|:--|:--|:--|:--|:--|:--|:--|:--|:--|:-|:-|:-:|
| Forward Indexing | 0 | 1 | 2 | 3 | 4 | 5 | 6 | 7 | 8 | 9 | 10| 11| 12|13|
| Backward Indexing|-14| -13| -12| -11| -10| -9| -8| -7| -6| -5| -4| -3| -2|-1|



# ‚úÇÔ∏è Slicing of List data

        üëª You have to deduct one (-1) from the second element (2Î≤àÏß∏ ÏöîÏÜåÎ•º |oo ÎØ∏Îßå|ÏúºÎ°ú Ìï¥ÏÑùÌïúÎã§.  

- [:] from the first element to the final element (e.g., 'I love Python!')

| str data | I |   | l | o | v | e |  | P | y | t | h | o |n | ! |
|:---------|:--|:--|:--|:--|:--|:--|:--|:--|:--|:--|:--|:-|:-|:-:|
| Forward Indexing | 0 | 1 | 2 | 3 | 4 | 5 | 6 | 7 | 8 | 9 | 10| 11| 12|13|
| Backward Indexing|-14| -13| -12| -11| -10| -9| -8| -7| -6| -5| -4| -3| -2|-1|


- [1:5] from Index 1 to Index 4 (e.g., ' love') (5 ÎØ∏Îßå)


| str data |   | l | o | v |
|:---------|:--|:--|:--|:-:|
| Forward Indexing | 1 | 2 | 3 | 4 |


- [:5] from Index 0 to Index 4 (e.g., 'I love') (5 ÎØ∏Îßå)


| str data | I |   | l | o | v |
|:---------|:--|:--|:--|:--|:-:|
| Forward Indexing | 0 | 1 | 2 | 3 | 4 |


- [5:] from Index 5 to the final element (e.g., 'e Python!')

| str data | e |  | P | y | t | h | o |n | ! |
|:---------|:--|:--|:--|:--|:--|:--|:-|:-|:-:|
| Forward Indexing | 5 | 6 | 7 | 8 | 9 | 10| 11| 12|13|

- [:-3] from forward Index 0 to Backward Index -4 (e.g., 'I love Pyth') (-3 ÎØ∏Îßå)

| str data | I |   | l | o | v | e |  | P | y | t | h |
|:---------|:--|:--|:--|:--|:--|:--|:--|:--|:--|:--|:-:|
| Forward Indexing | 0 | 1 | 2 | 3 | 4 | 5 | 6 | 7 | 8 | 9 | 10|
| Backward Indexing|-14| -13| -12| -11| -10| -9| -8| -7| -6| -5| -4| -3| -2|-1|

- [-3:] from backward Index -3 to the final element (e.g., 'on!')

| str data | o |n | ! |
|:---------|:-|:-|:-:|
| Backward Indexing|-3| -2|-1|


- [::2] Every other element from the first element (e.g., 'Ilv yho')

| str data | I | l | v |  | y | h | o |
|:---------|:--|:--|:--|:--|:--|:--|:-:|
| Forward Indexing | 0 | 2 | 4 | 6 | 8 | 10| 12|



# ‚öæ ‚öΩ üèÄ üéæ üéØ It is time to get some exercise!

In [ ]:
#@markdown üöó üöô Sequence data (str, list, tuple)

#@markdown ##Exercise


str_data = 'I love python'
list_data = ['apple', 'banana', 'grapes', 'mango']
tuple_data = ('apple', 'banana', 'grapes', 'mango')

print (str_data)
print (list_data)
print(tuple_data)

I love python
['apple', 'banana', 'grapes', 'mango']
('apple', 'banana', 'grapes', 'mango')

In [4]:
str_data = 'I love python'
list_data = ['apple', 'banana', 'grapes', 'mango']
tuple_data = ('apple', 'banana', 'grapes', 'mango')

print(str_data)
print(list_data)
print(tuple_data)

I love python
['apple', 'banana', 'grapes', 'mango']
('apple', 'banana', 'grapes', 'mango')

In [ ]:
#@markdown üìå Apply indices to string data

#@markdown Forward Indexing

str_data="I love Python"
print(str_data[0])
print(str_data[1])
print(str_data[2])
print(str_data[3])
print(str_data[4])
print(str_data[5])
print(str_data[6])
print(str_data[7])
print(str_data[8])
print(str_data[9])
print(str_data[10])
print(str_data[11])
print(str_data[12])

I

l
o
v
e

P
y
t
h
o
n

In [9]:
str_data="I love Python"
print(str_data[0])
print(str_data[1])
print(str_data[2])
print(str_data[3])
print(str_data[4])
print(str_data[5])
print(str_data[6])
print(str_data[7])
print(str_data[8])
print(str_data[9])
print(str_data[10])
print(str_data[11])
print(str_data[12])

I

l
o
v
e

P
y
t
h
o
n

In [ ]:
#@markdown üìå Apply indices to string data

#@markdown Backward Indexing

str_data="I love Python"
print(str_data[-1])
print(str_data[-2])
print(str_data[-3])
print(str_data[-4])
print(str_data[-5])
print(str_data[-6])
print(str_data[-7])
print(str_data[-8])
print(str_data[-9])
print(str_data[-10])
print(str_data[-11])
print(str_data[-12])
print(str_data[-13])

n
o
h
t
y
P

e
v
o
l

I

In [10]:
strdata="I love python"
print(strdata[-1])
print(strdata[-2])
print(strdata[-3])
print(strdata[-4])
print(strdata[-5])
print(strdata[-6])
print(strdata[-7])
print(strdata[-8])

n
o
h
t
y
p

e

In [ ]:
strdata = 'Time is money!!'
print(strdata[5])
print(strdata[-2])
print(strdata[0])

i
!
T

In [11]:
strdata1 = "It's raining..."
strdata2 = "it's raining today."
print(strdata1[2])
print(strdata1[-5])

'
n

In [ ]:
listdata = [1, 2, [1,2,3]]
print(listdata[0])
print(listdata[-1])
print(listdata[2][-1])

1
[1, 2, 3]
3

In [18]:
listdata1 = [100,200,[500,600,700]]
print(listdata1[0])
print(listdata1[-1])
print(listdata1[2][1])
print(listdata1[2][-1]) #Î¶¨Ïä§Ìä∏Îç∞Ïù¥ÌÑ∞1Ïùò 2Îäî [500,600,700]Ïù¥Í≥†, Í∑∏ Ï§ë -1Ïù¥ÎùºÎäî ÎúªÏúºÎ°ú [500,600,700] Ï§ë -1ÏùÄ 700Ïù¥Îã§.

100
[500, 600, 700]
600
700

In [ ]:
#@markdown üìå Apply indices to List data

#@markdown ## Replacment by means of using incices

list_data = ['apple', 'banana', 'grapes', 'mango']
list_data[0]="shine musket"

print (list_data)

['shine musket', 'banana', 'grapes', 'mango']

In [19]:
listdata2 = ['apple', 'banana', 'grapes', 'mango']
print(listdata2)

listdata2[0] = "shine musket"
print(listdata2)

['apple', 'banana', 'grapes', 'mango']
['shine musket', 'banana', 'grapes', 'mango']

In [ ]:
#@markdown üëÄ Apply indices to Tupple data

#@markdown ### No Replacement for Tuple data (<font color = 'red'> TypeError</font> will pop up: <font color = 'red'>'tuple' object does not support item assignment)

tuple_data = ('apple', 'banana', 'grapes', 'mango')
tuple_data[0]="shine musket"

print (tuple_data)

TypeError: ignored

In [20]:
tupledata = ('apple', 'peach', 'banana', 'mango')
tupledata[0] = "shine musket"

TypeError: ignored

In [ ]:
#@markdown Slice sequence data

str_data = 'Time is money!!'
print(str_data[1:5])
print(str_data[:7])
print(str_data[9:])
print(str_data[:-3])
print(str_data[-3:])
print(str_data[:])
print(str_data[::2]) # Ï≤òÏùåÎ∂ÄÌÑ∞ ÎÅùÍπåÏßÄ Ïä§ÌÖùÏùÑ 2Î°ú Ìï¥ÏÑú Ïä¨ÎùºÏù¥Ïã± ÌïòÍ∏∞.

ime
Time is
oney!!
Time is mone
y!!
Time is money!!
Tm smny!

In [25]:
strdata2 = 'abcdefghijklmno'
print(strdata2[1:5])
print(strdata2[:7])
print(strdata2[9:])
print(strdata2[:-3])
print(strdata2[-3:])
print(strdata2[:])
print(strdata2[::2])

bcde
abcdefg
jklmno
abcdefghijkl
mno
abcdefghijklmno
acegikmo

#ÏãúÌÄÄÏä§ ÏûêÎ£å Ïó∞Í≤∞ÌïòÍ∏∞ (+)
  -ÏûêÎ£åÌòïÏù¥ ÎèôÏùºÌïú Îëê Í∞úÏùò ÏãúÌÄÄÏä§ ÏûêÎ£åÎäî Ïó∞Í≤∞ Í∞ÄÎä•
  

#ÏãúÌÄÄÏä§ ÏûêÎ£å Î∞òÎ≥µÌïòÍ∏∞ (*Ïà´Ïûê)

In [34]:
strdata1 = 'I love'; strdata2='Python'
print (strdata1 + strdata2)
print(strdata1*5)

I lovePython
I loveI loveI loveI loveI love

In [35]:
strdata3 = 'I love ' ; strdata4 = 'Python'
print(strdata3)
print(strdata4)
print(strdata3 + strdata4)
print(strdata3*5)

I love
Python
I love Python
I love I love I love I love I love

###  üëÄ üêæ **Make a wild guess how to <font color = 'red'> add space</font> between 'love' and 'Python.'**

In [ ]:
#@markdown üíä **Possibility 1Ô∏è‚É£ üí°**

strdata1 = 'I love '; strdata2='Python'  #ÎùÑÏñ¥Ïì∞Í∏∞ 1Ïπ∏
print (strdata1 + strdata2)

In [37]:
#@markdown üíä **Possibility 2Ô∏è‚É£ üí°**

strdata1 = 'I love '; strdata2=' Python' #ÎùÑÏñ¥Ïì∞Í∏∞ 2Ïπ∏
print (strdata1 + strdata2)

I love  Python

In [ ]:
#@markdown üíä **Possibility 3Ô∏è‚É£ üí°**

strdata1 = 'I love'; strdata0 = ' '; strdata2='Python'
print (strdata1 + strdata0 + strdata2)

In [ ]:
subject = 'BTS'; verb= 'sings'; object = 'butter'
sentence = subject + verb + object * 5    #Ï£ºÏñ¥+ÎèôÏÇ¨+Î™©Ï†ÅÏñ¥
print (sentence)

BTSsingsbutterbutterbutterbutterbutter

In [41]:
subject = 'BTS'; verb= 'sings'; object = 'butter' ; space = ' '
sentence = subject + space + verb + space + object * 5
print (sentence)

BTS sings butterbutterbutterbutterbutter

In [38]:
#@markdown üíä Possibility 1Ô∏è‚É£ üí°

subject = 'BTS '; verb= 'sings '; object = 'butter'
sentence = subject + verb + object * 5
print(sentence)

BTS sings butterbutterbutterbutterbutter

In [ ]:
#@markdown ÏãúÌÄÄÏä§ ÏûêÎ£å ÌÅ¨Í∏∞ Ïù¥Ìï¥ÌïòÍ∏∞ (len)

str_data = 'I love Python'
print(len(str_data))

13

In [46]:
strdata5 = 'I love Python'
print(len(strdata5))

13